@import "../assets/mixins";
@import "../assets/variables";

.block {

}

.block_rounded-small {
  border-radius: 6px;
}

.block_gap_medium {
  margin-bottom: 40px;
}

.block_gap_xxxlarge {
  margin-bottom: 140px;
}

@include mq('phablet', max) {
  .block_xs_gap_xxsmall {
    margin-bottom: 26px;
  }
}

.block_white {
  border: 1px solid $color-white;
  color: $color-white;
}

.block_black {
  border: 1px solid $color-black;
  color: $color-black;
}

@include mq('tablet-small', max) {
  .block_gap_medium {
    margin-bottom: 34px;
  }
}

