@import "../assets/variables";
@import "../assets/mixins";

.about {
  &__wrapper {
    display: flex;
  }
  &__left {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 39px;
  }
  &__right {
    display: flex;
    flex: 1 1 auto;
  }
  &__title {
    box-sizing: border-box;
    max-width: 600px;
    padding: 36px 55px;
  }
  &__title img {
    display: block;
    width: 100%;
    height: auto;
  }
  &__description {
    padding: 20px 43px 40px 40px;
    background: $color-white;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
  }
  &__icon {
    width: 120px;
    height: 120px;
    margin-left: auto;
    background: url("../images/about-icon.png") no-repeat;
    background-size: contain;
  }
}

@include mq('desktop', max) {
  .about {
    &__title {
      max-width: 400px;
    }
    &__description {
      font-size: 28px;
    }
    &__icon {
      width: 80px;
      height: 80px;
    }
  }
}

@include mq('tablet-wide', max) {
  .about {
    &__title {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__description {
      font-size: 20px;
    }
  }
}

@include mq('tablet', max) {
  .about {
    &__title {
      max-width: 320px;
    }
    &__description {
      font-size: 16px;
    }
  }
}

@include mq('tablet-small', max) {
  .about {
    &__title {
      max-width: 280px;
    }
  }
}

@include mq('phablet', max) {
  .about {
    &__wrapper {
      flex-direction: column;
    }
    &__left {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-right: 0;
      margin-bottom: 12px;
    }
    &__title {
      max-width: 272px;
      padding: 17px 25px 16px 24px;
    }
    &__icon {
      width: 56px;
      height: 56px;
      margin-left: 12px;
    }
    &__description {
      padding: 8px 17px 12px 15px;
      font-weight: 500;
    }
  }
}