@import "../assets/variables";
@import "../assets/mixins";

.dropdowns {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
  }
  &__item {
    position: relative;
    flex: 1 1 760px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@include mq('desktop-ultrawide', max) {
  .dropdowns {
    &__item {
      flex: 1 1 560px;
    }
  }
}

@include mq('desktop', max) {
  .dropdowns {
    &__item {
      flex: 1 1 360px;
    }
  }
}

@include mq('tablet-wide', max) {
  .dropdowns {
    &__item {
      flex: 1 1 100%;
    }
  }
}

@include mq('phablet', max) {
  .dropdowns {
    &__item {
      margin-bottom: 8px;
    }
  }
}

.dropdown-list-toggle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 19px 24px 19px 22px;
  border-radius: 6px;
  background-color: #C0D27D;
  cursor: pointer;
  transition: $transition-main;
  &__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  &__icon_arrow {
    flex: 0 0 40px;
    margin-right: 12px;
    background-image: url("../images/arrow_right.png");
    transition: $transition-main;
  }
  &__icon_medium {
    width: 60px;
  }
  &__icon_align-left {
    margin-left: auto;
    margin-right: 0;
  }
  &__icon_turnip {
    background-image: url("../images/turnip.png");
  }
  &__icon_constructor {
    background-image: url("../images/constructor.png");
  }
  &__icon_roller {
    background-image: url("../images/roller.png");
  }
  &__icon_tube {
    background-image: url("../images/tube.png");
  }
  &__icon_tank {
    background-image: url("../images/tank.png");
  }
  &__icon_print {
    background-image: url("../images/print.png");
  }
  &__title {
    color: $color-white;
    font-size: 26px;
    font-weight: 500;
  }
  &:hover, &:active, &.is-clicked {
    background-color: #A2B45F;
    .dropdown-list-toggle__icon_arrow {
      transform: rotate(90deg);
    }
  }
}

@include mq('desktop-ultrawide', max) {
  .dropdown-list-toggle {
    &__title {
      font-size: 24px;
    }
    &__icon_medium {
      width: 50px;
    }
  }
}

@include mq('desktop', max) {
  .dropdown-list-toggle {
    &__icon_arrow {
      flex: 0 0 30px;
    }
    &__title {
      font-size: 23px;
    }
    &__icon_medium {
      width: 40px;
    }
  }
}

@include mq('phablet', max) {
  .dropdown-list-toggle {
    padding: 9px 12px 9px 10px;
    &__icon_arrow {
      flex: 0 0 20px;
    }
    &__title {
      font-size: 12px;
    }
    &__icon_medium {
      width: 26px;
    }
  }
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3000;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: $transition-main;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 21px 36px;
    border-radius: 6px;
    background-color: $color-white;
  }
  &__item {
    margin-bottom: 14px;
  }
  &__item:nth-last-child(1) {
    margin-bottom: 0;
  }
}

@include mq('phablet', max) {
  .dropdown-list {
    display: none;
    position: relative;
    top: 0;
    z-index: 0;
    box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.15);
    &__wrapper {
      padding: 25px 25px 25px 20px;
    }
  }
}

.dropdown-list.is-open {
  display: block;
  max-height: unset;
}

.dropdown-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  &__bullet {
    position: relative;
    top: 8px;
    padding: 6px;
    margin-right: 20px;
    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-black;
    }
  }
  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 500;
  }
  &__subtitles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  &__subtitle {
    margin-right: 20px;
    font-size: 18px;
  }
  &__subtitle:nth-last-child(1) {
    margin-right: 0;
  }
}

@include mq('phablet', max) {
  .dropdown-list-item {
    &__bullet {
      margin-right: 14px;
    }
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 13px;
    }
  }
}