@import "../assets/variables";
@import "../assets/mixins";

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1560px;
  &__wrapper {
    border-radius: 6px;
    background: $color-white;
    transition: $transition-main;
  }
  &__sections-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 28px;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__nav-item {
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__nav-item--gap-left-xxxxsmall {
    margin-left: 4px;
  }
  &__nav-link {
    @include font-size(18px);
    color: $color-black;
    text-decoration: none;
    transition: $transition-main;
    &:hover {
      opacity: 0.6;
    }
  }
  &__nav-link--bold {
    font-weight: bold;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    & img {
      display: block;
    }
  }
  &__left, &__right {
    display: flex;
    flex: 1 1 50%;
  }
  &__right {
    justify-content: flex-end;
  }
}

.header--mobile {
  top: 10px;
  box-sizing: border-box;
  padding: 0 10px;
  & .header__sections-list {
    padding: 0;
  }
  & .header__wrapper {
    padding: 11px 9px 11px 14px;
  }
  &.is-open .header-burger {
    &__upper {
      top: -4px;
      transform: rotate(45deg);
    }
    &__lower {
      bottom: -2px;
      transform: rotate(-45deg);
    }
  }
  &.is-open .header-menu {
    max-height: 99vh;
  }
}

.header-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__item {
    padding: 4.5px 4px;
    margin-right: 2px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__link {
    @include font-size(14px);
    color: $color-black;
    text-decoration: none;
    transition: $transition-main;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  &__link--active {
    text-decoration: underline;
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }
}

.header-burger {
  padding: 6px;
  cursor: pointer;
  &__wrapper {
    position: relative;
    width: 22px;
    height: 12px;
  }
  &__upper, &__lower {
    position: absolute;
    width: 100%;
    height: 3px;
    background: $color-black;
    transform-origin: left center;
    transition: $transition-main;
  }
  &__upper {
    top: 0;
  }
  &__lower {
    bottom: 0;
  }
}

.header-menu {
  max-height: 0;
  overflow: hidden;
  transition: $transition-main;
  &__wrapper {
    box-sizing: border-box;
    padding-right: 9px;
    padding-bottom: 9px;
    &_gap-inner-top-large {
      padding-top: 40px;
    }
  }
  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav-list_gap-xxsmall {
    margin-bottom: 12px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
  }
  &__nav-upper {
    margin-bottom: 96px;
  }
}